<h1>Physicians#show</h1>
<h3><%= @physician.name %>
<p><%= @physician.email %></p>
<p><%= @physician.specialty %>
</h3>
<%= link_to 'Edit Physician Info', edit_physician_path %>
<%= link_to 'Delete Physician Info', physician_path, method: :delete %>
<%= link_to 'Back To Physicians', physicians_path %>
