<h1>Add Patient</h1>
<%= form_with(model: @patient, local: true, class: "ui form") do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, autofocus: true, placeholder: "Name" %>
  </div>
  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :email, required: true, placeholder: "Age" %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, required: true, placeholder: "Email" %>
  </div>
  <%= f.submit nil, class: "ui green button inverted" %>
<% end %>