<h1>Patients#show</h1>
<h3><%= @patient.name %>
<p><%= @patient.email %></p>
<p><%= @patient.age %>
</h3>
<%= link_to 'Edit Patient Info', edit_patient_path %>
<%= link_to 'Delete Patient Info', patient_path, method: :delete %>
<%= link_to 'Back To Patients', patients_path %>
